.loading-wrapper {
  margin: 16px 0;
  display: none;
}

.loading-bar {
  height: 8px;
  background-color: black;
  border-radius: 8px;
}

.header h1 {
  line-height: 48px;
}

.logo-icon {
  width: 48px;
  float: left;
  padding-right: 8px;
}
